In [1]:
import numpy as np
import pandas as pd

In [2]:
# Memuat Data
df_data = pd.read_excel("D:/Bagoes/GitHub Repository/AnalisisSentimenSVM/Data/Data_Scraping_FemaleDaily_06032022_with_index.xlsx")

In [3]:
# Menampilkan kolom Data
df_data.head(0)

Empty DataFrame
Columns: [Unnamed: 0, reviewer, review, rating, sentimen]
Index: []

In [4]:
# Menghapus kolom data yang tidak digunakan
df_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [5]:
# Menampilkan kolom Data
df_data.head(0)

Empty DataFrame
Columns: [reviewer, review, rating, sentimen]
Index: []

In [6]:
# Menampilkan jumlah data dan kolom
print(df_data.shape)

(2276, 4)

In [7]:
# Menghapus data tertentu dalam data
df_data.drop(index=[41, 82, 119, 139, 199, 213, 216, 236, 243, 276, 278, 317, 351, 379, 407, 444, 608, 707, 886, 945, 946, 1047, 1052, 1076, 1099, 1101, 1126, 1133, 1135, 1149, 1155, 1279, 1419, 1506, 1522, 1535, 1573, 1591, 1611, 1664, 1689, 1725, 1736, 1745, 1756, 1821, 1851, 1870, 1890, 1894, 1906, 1907, 1922, 1956, 1985, 1998, 2141, 2170, 2194, 2197, 2241, 2249, 2258], inplace=True)

In [8]:
# Menampilkan Jumlah Data
print(df_data.shape)

(2213, 4)

1. Inisialisasi Fungsi Praproses (Preprocessing)

In [9]:
# Fungsi untuk mengulang kata jika terdapat angka 2 dalam kata tersebut
def extract_word_number(text):
    extracted_char = ""
    extra_char = ""
    
    # Check the text length
    if len(text) > 1: 
        # Check if the string contain number 2 as a character
        if "2" in text:
            num_pos = text.index("2")
            # Check if theres another character after number 2 character
            if len(text[(num_pos + 1):]) > 0:
                extra_char = text[(num_pos + 1):]
                extracted_char = [text[num] for num in range(num_pos)]
                extracted_char = ''.join(extracted_char)
                return text.replace(text, "{0} {0}{1}".format(extracted_char, extra_char))
            else:
                extra_char = ""
                extracted_char = [text[num] for num in range(num_pos)]
                extracted_char = ''.join(extracted_char)
                return text.replace(text, "{0} {0}{1}".format(extracted_char, extra_char))
        else:
            return text
    else:
        return text

In [10]:
# Fungsi untuk mengulang kata apabila ada angka 2 dalam bentuk superscript dalam kata
def extract_word_superscript(text):
    extracted_char = ""
    extra_char = ""
    
    # Check the text length
    if len(text) > 1: 
        # Check if the string contain number 2 as a character
        if "\u00b2" in text:
            num_pos = text.index("\u00b2")
            # Check if theres another character after number 2 character
            if len(text[(num_pos + 1):]) > 0:
                extra_char = text[(num_pos + 1):]
                extracted_char = [text[num] for num in range(num_pos)]
                extracted_char = ''.join(extracted_char)
                return text.replace(text, "{0} {0}{1}".format(extracted_char, extra_char))
            else:
                extra_char = ""
                extracted_char = [text[num] for num in range(num_pos)]
                extracted_char = ''.join(extracted_char)
                return text.replace(text, "{0} {0}{1}".format(extracted_char, extra_char))
        else:
            return text
    else:
        return text

In [11]:
# Fungsi untuk menyamakan kata makeup dalam kalimat
def make_up_replace(text):
    if "make up" in text:
        return text.replace("make up", "makeup")
    elif "make upin" in text:
        return text.replace("make upin", "makeup")
    elif "make upnya" in text:
        return text.replace("make upnya", "makeup")
    elif "make-up" in text:
        return text.replace("make-up", "makeup")
    elif "dimakeup" in text:
        return text.replace("dimakeup", "makeup")
    elif "dimakeupin" in text:
        return text.replace("dimakeupin", "makeup")
    elif "makeupnya" in text:
        return text.replace("makeupnya", "makeup")
    elif "makeupny" in text:
        return text.replace("makeupny", "makeup")
    elif "makeupku" in text:
        return text.replace("makeupku", "makeup")
    elif "mekap" in text:
        return text.replace("mekap", "makeup")
    elif "makeuonya" in text:
        return text.replace("makeuonya", "makeup")
    else:
        return text

In [12]:
# Fungsi untuk menyamakan kata tzone dalam kalimat
def t_zone_replace(text):
    if "t zone" in text:
        return text.replace("t zone", "tzone")
    elif "t z" in text:
        return text.replace("t z", "tzone")
    elif "t zonenya" in text:
        return text.replace("t zonenya", "tzone")
    else:
        return text

In [13]:
# Fungsi untuk menyamakan kata bbceam dalam kalimat
def bb_cream_replace(text):
    if "bb cream" in text:
        return text.replace("bb cream", "bbcream")
    else:
        return text

In [14]:
# Fungsi untuk menyamakan kata cccream dalam kalimat
def cc_cream_replace(text):
    if "cc cream" in text:
        return text.replace("cc cream", "cccream")
    else:
        return text

In [15]:
# Fungsi untuk menyamakan kata dceram dalam kalimat
def dd_cream_replace(text):
    if "dd cream" in text:
        return text.replace("dd cream", "ddcream")
    else:
        return text

In [16]:
# Fungsi untuk menyamakan kata touchup dalam kalimat
def touch_up_replace(text):
    if "touch up" in text:
        return text.replace("touch up", "touchup")
    elif "ngeretouch" in text:
        return text.replace("ngeretouch", "touchup")
    else:
        return text

In [17]:
# Fungsi untuk menyamakan kata breakout dalam kalimat
def break_out_replace(text):
    if "break out" in text:
        return text.replace("break out", "breakout")
    else:
        return text

In [18]:
# Fungsi untuk menyamakan kata skincare dalam kalimat
def skin_care_replace(text):
    if "skin care" in text:
        return text.replace("skin care", "skincare")
    else:
        return text

In [19]:
# Fungsi untuk menyamakan kata sunscreen dalam kalimat
def sun_screen_replace(text):
    if "sun screen" in text:
        return text.replace("sun screen", "sunscreen")
    elif "sunscreenku" in text:
        return text.replace("sunscreenku", "sunscreen")
    else:
        return text

In [20]:
# Fungsi untuk mengubah seluruh karakter dalam kalimat menjadi huruf kecil (lowercase)
def case_folding(message):
    return message.lower()

In [21]:
# Fungsi untuk menghapus tanda baca dalam kalimat
def del_punctuation(message):
    for punc in string.punctuation:
        if punc in message:
            message = message.replace(punc, ' ')
    return message

In [22]:
# Fungsi untuk menghapus angka dalam kalimat
def del_number(message):
    regex = r'\d+'
    return ' '.join(re.sub(regex, "", message).split())

In [23]:
# Fungsi untuk menghapus emotikon dalam kalimat
def del_emoticon(message):
    return emoji.replace_emoji(message, replace=' ')

In [24]:
# Fungsi untuk menghapus kata dengan jumlah huruf yang lebih dari satu dan berdekatan 
def remove_repeated_char(text):
    return re.sub(r'(\w)\1+', r'\1', text)

In [25]:
# Fungsi untuk mengubah kata yang menggunakan angka untuk membuat kata berulang
def replace_repeat_word_num(message):
    split_msg = [word.replace(word, extract_word_number(word)) for word in message.split()]
    return " ".join(split_msg)

In [26]:
# Fungsi untuk mengubah kata yang menggunakan angka dalam bentuk superscript untuk membuat kata berulang
def replace_repeat_word_superscript(message):
    split_msg = [word.replace(word, extract_word_superscript(word)) for word in message.split()]
    return " ".join(split_msg)

In [27]:
# Fungsi untuk mengubah kata yang memiliki karakter yang sama dan berdekatan dengan jumlah lebih dari satu dalam kalimat
def normalisasi_kata_redundan(message):
    return remove_repeated_char(message)