In [1]:
import numpy as np
import pandas as pd

In [2]:
# Memuat Data
df_data = pd.read_excel("D:/Bagoes/GitHub Repository/AnalisisSentimenSVM/Data/Data_Scraping_FemaleDaily_06032022_with_index.xlsx")

In [3]:
# Menampilkan kolom Data
df_data.head(0)

Empty DataFrame
Columns: [Unnamed: 0, reviewer, review, rating, sentimen]
Index: []

In [4]:
# Menghapus kolom data yang tidak digunakan
df_data.drop(["Unnamed: 0"], axis=1, inplace=True)

In [5]:
# Menampilkan kolom Data
df_data.head(0)

Empty DataFrame
Columns: [reviewer, review, rating, sentimen]
Index: []

In [6]:
# Menampilkan jumlah data dan kolom
print(df_data.shape)

(2276, 4)

In [7]:
# Menghapus data tertentu dalam data
df_data.drop(index=[41, 82, 119, 139, 199, 213, 216, 236, 243, 276, 278, 317, 351, 379, 407, 444, 608, 707, 886, 945, 946, 1047, 1052, 1076, 1099, 1101, 1126, 1133, 1135, 1149, 1155, 1279, 1419, 1506, 1522, 1535, 1573, 1591, 1611, 1664, 1689, 1725, 1736, 1745, 1756, 1821, 1851, 1870, 1890, 1894, 1906, 1907, 1922, 1956, 1985, 1998, 2141, 2170, 2194, 2197, 2241, 2249, 2258], inplace=True)

In [9]:
# Menampilkan Jumlah Data
print(df_data.shape)

(2213, 4)